body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: hsl(310, 44%, 69%);
    color: white;
    text-align: center;
    padding: 50px;
}

section {
    width: 80%;
    margin: 30px auto;
}

.project {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #ce92c6;
    color: white;
    text-align: center;
    padding: 20px;
}
#skills {
    width: 80%;
    margin: 30px auto;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}